.language-selector {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: rgb(197, 137, 137);
}

.language-select {
  padding: 1rem;
  border-radius: 4px;
  border: 1px solid var(--color-accent);
  background-color: rgb(197, 137, 137);
  font-size: 1rem;
  cursor: pointer;
}

.language-select:hover {
  background-color: var(--color-accent);
  color: rgb(197, 97, 97);
} 